 <!DOCTYPE html>
<html>
<head>
    <title>About Us | PowerFit Gym</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<nav>
    <h2>PowerFit Gym</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/membership">Membership</a>
    </div>
</nav>

<section>
    <h2>About PowerFit Gym</h2>
    <p>
        PowerFit Gym is a modern fitness center focused on strength,
        endurance, and healthy lifestyle. We provide a motivating and
        professional training environment.
    </p>

    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-dumbbell"></i>
            <h3>Modern Equipment</h3>
            <p>Latest machines for safe workouts</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-user-tie"></i>
            <h3>Certified Trainers</h3>
            <p>Experienced & professional coaches</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-clock"></i>
            <h3>Flexible Timings</h3>
            <p>Morning & evening sessions</p>
        </div>
    </div>
</section>

<footer>
    <p>© 2025 PowerFit Gym. All Rights Reserved.</p>
</footer>

</body>
</html>
