<!DOCTYPE html>
<html>
<head>
    <title>PowerFit Gym</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<nav>
    <h2>PowerFit Gym</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/membership">Membership</a>
    </div>
</nav>

<div class="hero">
    <div class="hero-content">
        <h1>Build Your Body Strong</h1>
        <p>Professional trainers & modern equipment</p>
        <button>Join Now</button>
    </div>
</div>

<section>
    <h2>Our Services</h2>
    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-dumbbell"></i>
            <h3>Modern Equipment</h3>
            <p>Latest machines for all workouts</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-user"></i>
            <h3>Expert Trainers</h3>
            <p>Certified fitness professionals</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-heart-pulse"></i>
            <h3>Healthy Lifestyle</h3>
            <p>Proper guidance & motivation</p>
        </div>
    </div>
</section>

<footer>
    <p>© 2025 PowerFit Gym</p>
</footer>

</body>
</html>
