<!DOCTYPE html>
<html>
<head>
    <title>Membership | PowerFit Gym</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<nav>
    <h2>PowerFit Gym</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/membership">Membership</a>
    </div>
</nav>

<section>
    <h2>Membership Plans</h2>
    <p>Choose a plan that fits your fitness goals</p>

    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-calendar"></i>
            <h3>Monthly Plan</h3>
            <p>Rs. 3,000</p>
            <p>Access to all equipment</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-star"></i>
            <h3>6 Months Plan</h3>
            <p>Rs. 15,000</p>
            <p>Trainer guidance included</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-crown"></i>
            <h3>Yearly Plan</h3>
            <p>Rs. 30,000</p>
            <p>Best value & full access</p>
        </div>
    </div>
</section>

<footer>
    <p>© 2025 PowerFit Gym. All Rights Reserved.</p>
</footer>

</body>
</html>
